name: CI action schema
on:
  push: {}
  pull_request:
    branches: [master]

jobs:
  validate-schema:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pkg
        run: pip install "check-jsonschema>=0.10"

      - name: GH Workflows
        run: check-jsonschema .github/workflows/*.yml --builtin-schema "github-workflows"
